---
copyright:
  years: 2021
lastupdated: "2021-07-01"

---

# Mapping solution tutorials to Sales Play
{: sales-play}

| Tutorial | Description | SAP | Cloud Native & ROKS | Satellite | Industry Clouds | VMware | Power |
| -------- | ----------- | --- | ------------------- | --------- | --------------- | ------ | ----- |
{{#each categories}}
{{#unless tocOnly}}
{{#if (not hidden)}}
| **{{name}}** |
{{#each solutions as |solution|}}
{{#if (and solution.name (not hidden))}}
| [{{solution.name}}](https://cloud.ibm.com{{#htmlLink solution}}{{/htmlLink}}) | {{solution.description}} | {{#hasTag solution 'SAP'}}X{{/hasTag}} | {{#hasTag solution 'Kubernetes'}}Kubernetes{{/hasTag}} {{#hasTag solution 'OpenShift'}}ROKS{{/hasTag}} {{#hasTag solution 'Virtual Private Cloud'}}VPC{{/hasTag}} {{#hasTag solution 'Cloud Functions'}}Cloud Functions{{/hasTag}} {{#hasTag solution 'Code Engine'}}Code Engine{{/hasTag}} | {{#hasTag solution 'Satellite'}}X{{/hasTag}} | {{#hasTag solution 'Security'}}Security{{/hasTag}} {{#hasTag solution 'Virtual Private Cloud'}}VPC{{/hasTag}} | {{#hasTag solution 'VMware'}}VMware{{/hasTag}} {{#hasTag solution 'VM'}}Virtual Machine{{/hasTag}} {{#hasTag solution 'Virtual Servers'}}Virtual Servers{{/hasTag}} | {{#hasTag solution 'Power'}}X{{/hasTag}} |
{{/if}}
{{/each}}
{{/if}}
{{/unless}}
{{/each}}
