{
{{#each keywords}}
	"{{this}}": {
	  "scope": "markdown",
		"prefix": [
			"{{#value this}}{{/value}}",
			"ibm.{{#value this}}{{/value}}",
			"site.{{#value this}}{{/value}}",
      "{{#placeholder this}}{{/placeholder}}"
		],
		"body": [
			"{{#placeholder this}}{{/placeholder}}"
		],
    "description": "{{#value this}}{{/value}}"
	}{{#unless @last}},{{/unless}}
{{/each}}
}