{:navgroup: .navgroup}
{:topicgroup: .topicgroup}

{: .toc subcollection="solution-tutorials" audience="platform" category="platform_services" arm="4086992" href="/docs/tutorials?topic=solution-tutorials-tutorials#tutorials" path="tutorials"}
Solution Tutorials

    {: .navgroup id="learn"}
    index.md
{{#each categories}}
{{#if (or (not hidden) @root.includeHidden)}}

    {: .topicgroup}
    {{name}}
    {{#each solutions as |solution|}}
    {{#if (or (not hidden) @root.includeHidden)}}
        {{#tocLink solution}}{{/tocLink}}
    {{/if}}
    {{/each}}
{{/if}}
{{/each}}
    {: .navgroup-end}
    
    {: .navgroup id="howto"}
{{#each tags as |tag|}}
    {: .topicgroup}
    {{tag}}
{{#each ../categories}}{{#if (or (not hidden) @root.includeHidden)}}{{#each solutions as |solution|}}{{#if (or (not solution.hidden) @root.includeHidden)}}{{#hasTag solution tag}}        {{#tocLink solution}}{{/tocLink}}
{{/hasTag}}{{/if}}{{/each}}{{/if}}{{/each}}
{{/each}}
    {: .navgroup-end}
