{:navgroup: .navgroup}
{:topicgroup: .topicgroup}

{: .toc subcollection="solution-tutorials" version="2" audience="platform" category="platform_services" arm="4086992" href="/docs/solution-tutorials?topic=solution-tutorials-tutorials" path="solution-tutorials"}
Solution Tutorials

    {: .navgroup id="learn"}
    index.md
    {: .navgroup-end}

    {: .navgroup id="tutorial"}
    {: .topicgroup}
    By Category
{{#each categories}}
{{#unless tocOnly}}
{{#if (or (not hidden) @root.includeHidden)}}

        {: .topicgroup}
        {{name}}
    {{#each solutions as |solution|}}
    {{#if (or (not hidden) @root.includeHidden)}}
            {{#tocLink solution}}{{/tocLink}}
    {{/if}}
    {{/each}}
{{/if}}
{{/unless}}
{{/each}}

    {: .topicgroup}
    By Compute Options
{{#each tags as |tag|}}

        {: .topicgroup}
        {{tag}}
{{#each ../categories}}{{#if (or (not hidden) @root.includeHidden)}}{{#each solutions as |solution|}}{{#if (or (not solution.hidden) @root.includeHidden)}}{{#hasTag solution tag}}            {{#tocLink solution}}{{/tocLink}}
{{/hasTag}}{{/if}}{{/each}}{{/if}}{{/each}}{{/each}}
    {: .navgroup-end}
